* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: monospace;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #2ecc71;
  color: #fff;
}
.container {
  padding: 30px;
}

form {
  margin-bottom: 20px;
}
.form-control {
  margin-top: 20px;
  border-bottom: 2px solid #fff;
}
label {
  display: block;
  font-size: 25px;
}
input {
  width: 100%;
  padding: 10px 30px;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 25px;
}
.button-group {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  margin-right: 20px;
  padding: 8px 20px;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* media query */
@media (max-width: 768px) {
  body {
    overflow: hidden;
  }
  input {
    font-size: 20px;
  }
  .form-control {
    width: 90%;
  }
  button {
    margin: 15px;
  }
  .button-group {
    flex-wrap: wrap;
  }
}
